layout {
    pane split_direction="horizontal" {
        pane split_direction="vertical" size="50%" {
            pane size="25%"
            pane size="25%"
            pane size="25%"
            pane size="25%"
        }
        pane split_direction="vertical" size="50%" {
            pane size="25%"
            pane size="25%"
            pane size="25%"
            pane size="25%"
        }
    }
}
